
.background {
    -fx-background-color: white;
}

.vbox1{
    -fx-background-color: #21C6B6;
}

.botonInicioSesion{
    -fx-background-color: #21C6B6;
}

.botonInicioSesion:hover{
    -fx-background-color: transparent;
    -fx-text-fill: #252F2C;
    -fx-border-color: #252F2C;
    -fx-border-width: 1px;
    -fx-border-style: solid;
}
.boton{
    -fx-background-color: #FFFFFF;
}

.boton:hover{
    -fx-background-color: transparent;
    -fx-text-fill: #252F2C;
    -fx-border-color: #252F2C;
    -fx-border-width: 1px;
    -fx-border-style: solid;
}

.labelContraseña{
    -fx-text-fill: #252F2C;
}

.labelContraseña:hover{
    -fx-text-fill: #0071D5;
    -fx-underline: true;
}

.fondo{
    -fx-background-color: #FFFFFF;
}

